.root {
    -fx-background-image: url("edu/ntnu/idi/idatt/mappeoppgavev2025/images/Jungle-Background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.tile.highlight-source {
    -fx-border-color: yellow;
    -fx-border-width: 3;
}
.tile.highlight-dest {
    -fx-border-color: red;
    -fx-border-width: 3;
}